<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

  <ion-tab title="İlaçlarım" icon-on="ion-briefcase" icon-off="ion-briefcase" ui-sref="tabs.inventory">
    <ion-nav-view name="tab-inventory"></ion-nav-view>
  </ion-tab>

  <ion-tab title="İlaçlar" icon-on="ion-earth" icon-off="ion-earth" ui-sref="tabs.medicaments">
    <ion-nav-view name="tab-medicaments"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ayarlar" icon-on="ion-wrench" icon-off="ion-wrench" ui-sref="tabs.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
